nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 0.15rem  solid rgb(6, 43, 0);
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(6, 43, 0);
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(6, 43, 0);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}